.Mediciones
	text-align center
	&-primaryValue
		font-size 4em
		padding-bottom 1em
	&-secundaryValue
		font-size 2em
		margin-left 1em
		+below(420px)
			display block
			margin auto
	&-box
		background #3598db
		color white
		padding .5em 1em
		text-align center
		position relative
		margin-bottom 1em
		+above(760px)
			width 46%
			display inline-block
	&-title
		text-align left
		font-weight bold
		font-size 2em
		margin 0
		width 100%
	&-extremos
		font-size 80%
		text-align right
		font-weight 300
		margin-left 1em
		display block
	&-tipo
		color white
		font-size 3em
		margin 0 0 .3em 0
		text-align center
	button.btn-update
		font-size 100%
		padding .4rem
		cursor pointer
		color white
		background none
		float right
		position absolute
		bottom 5%
		left 5%
		&:hover
			color #34495e