
/* line 61 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/border.styl */

/* line 10 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/clearfix.styl */

/* line 28 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/clearfix.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/color-image.styl */

/* line 4 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/flex.styl */

/* line 196 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/gradients.styl */

/* line 90 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/config.styl */

/* line 11 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/config.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/iconic.styl */

/* line 7 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/image.styl */

/* line 25 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/index.styl */

/* line 19 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/index.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/base.styl */

/* line 8 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/base.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 19 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/links.styl */

/* line 6 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/links.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/text.styl */

/* line 30 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/text.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 7 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 17 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 69 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 7 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/overflow.styl */

/* line 20 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/overflow.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/positions.styl */

/* line 66 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/positions.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/reset.styl */

/* line 78 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/aliases.styl */

/* line 12 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 9 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 8 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 9 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 2 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 247 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/config.styl */

/* line 577 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/size.styl */

/* line 28 : /Applications/CodeKit.app/Contents/Resources/engines/node_modules/nib/lib/nib/size.styl */

/* line 1 : /usr/local/lib/node_modules/rupture/rupture/index.styl */

/* line 260 : /usr/local/lib/node_modules/rupture/rupture/index.styl */

/* line 1 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot?-4q1a1");src:url("../fonts/icomoon.eot?#iefix-4q1a1") format('embedded-opentype'),url("../fonts/icomoon.ttf?-4q1a1") format('truetype'),url("../fonts/icomoon.woff?-4q1a1") format('woff'),url("../fonts/icomoon.svg?-4q1a1#icomoon") format('svg');font-weight:normal;font-style:normal}
/* line 11 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
/* line 22 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
.icon-water:before{content:"\e605"}
/* line 25 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
.icon-sun:before{content:"\e604"}
/* line 28 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
.icon-home:before{content:"\e603"}
/* line 31 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
.icon-refresh:before{content:"\e602"}
/* line 34 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
.icon-humedad:before{content:"\e600"}
/* line 37 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */
.icon-temperatura:before{content:"\e601"}
/* line 39 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/fonts.styl */

/* line 39 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */

/* line 1 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones{text-align:center;}
/* line 3 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones-primaryValue{font-size:4em;padding-bottom:1em}
/* line 6 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones-secundaryValue{font-size:2em;margin-left:1em;}@media only screen and (max-width:420px){
/* line 144 : /usr/local/lib/node_modules/rupture/rupture/index.styl */
.Mediciones-secundaryValue{display:block;margin:auto}}
/* line 12 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones-box{background:#3598db;color:#fff;padding:.5em 1em;text-align:center;position:relative;margin-bottom:1em;}@media only screen and (min-width:760px){
/* line 144 : /usr/local/lib/node_modules/rupture/rupture/index.styl */
.Mediciones-box{width:46%;display:inline-block}}
/* line 22 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones-title{text-align:left;font-weight:bold;font-size:2em;margin:0;width:100%}
/* line 28 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones-extremos{font-size:80%;text-align:right;font-weight:300;margin-left:1em;display:block}
/* line 34 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones-tipo{color:#fff;font-size:3em;margin:0 0 .3em 0;text-align:center}
/* line 39 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones button.btn-update{font-size:100%;padding:.4rem;cursor:pointer;color:#fff;background:none;float:right;position:absolute;bottom:5%;left:5%;}
/* line 49 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */
.Mediciones button.btn-update:hover{color:#34495e}
/* line 1 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/dashboard/index.styl */

/* line 1 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/graficas/index.styl */

/* line 1 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/graficas/index.styl */

/* line 2 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/graficas/index.styl */
.Graficas h2{color:#fff}
/* line 4 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/graficas/index.styl */
.Graficas-box{width:90%;margin:auto;background:#3598db;color:#fff;padding:.5em 1em;text-align:center;position:relative;margin-bottom:1em;}
/* line 13 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/graficas/index.styl */
.Graficas-box > div{max-width:100%;overflow-y:scroll;}
/* line 16 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/graficas/index.styl */
.Graficas-box > div div[dir="ltr"]{margin:auto}
/* line 8 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
body{background:#34495e;font-size:16px;font-family:'Open Sans';margin-bottom:16rem;}@media only screen and (min-width:760px){
/* line 144 : /usr/local/lib/node_modules/rupture/rupture/index.styl */
body{margin-bottom:6rem}}
/* line 17 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
h1{font-size:2em;text-align:center;color:#fff;font-family:Oswald}
/* line 22 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
h2{font-family:2em;margin:.5em}
/* line 25 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
button{-webkit-border-radius:1em;border-radius:1em;background:#fff;padding:1em;vertical-align:middle;border:none}
/* line 31 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
#menu{position:fixed;width:100%;bottom:0;left:0;}
/* line 36 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
#menu ul{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;color:#fff;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.3);box-shadow:0 0 20px rgba(0,0,0,0.3);background:#95a5a6;padding:.5em 1em;margin:0;list-style:none;font-size:.85em;-webkit-box-pack:distribute;-moz-box-pack:distribute;-o-box-pack:distribute;-ms-flex-pack:distribute;-webkit-justify-content:space-around;justify-content:space-around;span}
/* line 46 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
#menu ul li{text-align:center;}
/* line 48 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
#menu ul li.active a{color:#000}
/* line 50 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
#menu ul a{color:#fff;text-decoration:none}
/* line 53 : /Users/mhcristian/proyectos/proyecto-intro/django/monitor/webmonitor/lib/css/app.styl */
#menu ul i{font-size:2rem;display:block;margin-bottom:.3rem}