.Graficas
	h2
		color white
	&-box
		width 90%
		margin auto
		background #3598db
		color white
		padding .5em 1em
		text-align center
		position relative
		margin-bottom 1em
		> div
			max-width 100%
			overflow-y scroll
			div[dir="ltr"]
				margin auto