<div id="water-temperature">
	<div class="Mediciones">
		<h3 class="Mediciones-tipo">
			Agua <button class="btn btn-update" data-action="update" data-type="agua"><i class="icon-refresh"></i></button>
		</h3>
		<div class="Mediciones-box" data-type="agua" data-title="piscina"> 
			<h3 class="Mediciones-title">Piscina</h3>
			<strong class="Mediciones-temperatura"><i class="icon-temperatura"></i> <span data-name="temperature">23</span> <small class="Mediciones-unidad">°C</small></strong>
		</div>
		<div class="Mediciones-box" data-type="agua" data-title="tinaja">
			<h3 class="Mediciones-title">Tinaja</h3>
			<strong class="Mediciones-temperatura"><i class="icon-temperatura"></i> <span data-name="temperature">12</span> <small class="Mediciones-unidad">°C</small></strong>
		</div>
	</div>
	<div class="Graficas">
		<h2>Gráficas</h2>
		<div class="Graficas-box" data-name="Diaria">
			<h3>Diaria</h3>
			<div class="Graficas-temperatura" data-type="temperatura" id="chart_div" style="width: 100%;"></div>
		</div>
		<div class="Graficas-box" data-name="Semanal">
			<h3>Semanal</h3>
			<div class="Graficas-temperatura" data-type="temperatura" style="width: 100%;"></div>
		</div>
		<div class="Graficas-box" data-name="Mensual">
			<h3>Mensual</h3>
			<div class="Graficas-temperatura" data-type="temperatura" style="width: 100%;"></div>
		</div>
		<div class="Graficas-box" data-name="Anual">
			<h3>Anual</h3>
			<div class="Graficas-temperatura" data-type="temperatura" style="width: 100%;"></div>
		</div>
	</div>
</div>